/* * {
    outline: 1px solid rgba(255, 0, 0, 0.1);
} */

.sign-up-btn {
      background-color: #2B1B12;
      color: #fff;
      transition: all 0.3s ease;
  }

  .sign-up-btn:hover {
      background-color: #3a271d;
  }

  .search-box {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  }

  .nav-link li {
      font-size: 16px;
  }

  .nav-link li:hover {
      text-decoration: underline #2B1B12;
      color: #715444FF;
  }

  /* Restore Swiper’s default layout */
  .swiper-wrapper {
      display: flex !important;
      transition-timing-function: ease !important;
  }

  .swiper {
      padding-bottom: 64px;
  }

  /*  Swiper Navigation Buttons */
  .custom-nav-btn {
      background-color: #2B1B12;
      color: #DDC7BB;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: static;
  }

  .custom-nav-btn::after {
      font-size: 18px;
      font-weight: bold;
      color: #DDC7BB;
  }

  .custom-nav-btn:hover {
      background-color: #3a271d;
  }

  .flex.justify-center .custom-nav-btn {
      margin: 0 6px;
  }



  [dir="rtl"] .email-input {
      padding-right: 12px;
      padding-left: 40px;

  }

  [dir="rtl"] .email-icon {
      left: auto;
      right: 12px;
     
  }


  [dir="ltr"] .email-input {
      padding-left: 40px;
      padding-right: 12px;
  }

  [dir="ltr"] .email-icon {
      right: auto;
      left: 12px;
  }

  [dir="ltr"] .select-icon {
      background-position: right 0.75rem center;
      padding-left: 1rem;
      padding-right: 2.5rem;
  }


  [dir="rtl"] .select-icon {
      background-position: left 0.75rem center;
      padding-right: 1rem;
      padding-left: 2.5rem;
  }


  /* Automatically flip text alignment based on page direction */
  html[dir="ltr"] p[data-i18n] {
      text-align: left;
  }

  html[dir="rtl"] p[data-i18n] {
      text-align: right;
  }



  html[dir="rtl"] p,

  html[dir="rtl"] h3 {
      direction: rtl;
      text-align: right;
  }

  html[dir="ltr"] p,

  html[dir="ltr"] h3 {
      direction: ltr;
      text-align: left;
  }

 